<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../styles/main.css" th:href="@{/styles/main.css}" rel="stylesheet" />
    <link rel="shortcut icon" href="../images/favicon.ico" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <script type="application/javascript" src="../scripts/jquery-3.4.1.min.js" th:src="@{/scripts/jquery-3.4.1.min.js}"></script>
    <script type="application/javascript" src="../scripts/validation.js" th:src="@{/scripts/validation.js}"></script>
    <script type="application/javascript" src="../scripts/functions.js" th:src="@{/scripts/functions.js}"></script>
    <script type="application/javascript" src="../scripts/jquery.inputfilter.min.js" th:src="@{/scripts/jquery.inputfilter.min.js}"></script>
</head>

<body>

    <div class="overlay" onclick="hideOverlay()">
        <div class="overlay-message-block block-styling" id="overlay-message-block">
            <p></p>
        </div>
    </div>

    <div class="top-bar">
        <p class="logo-text">TapelBank - всем банкам банк</p>
        <a href="/login" style="float: left; margin-left: 5%;" th:text="${account}"></a>
        <form th:action="@{/logout}" method="post" style="float: right; margin-right: 5%;">
            <input type="submit" class="common-button" value="Sign Out"/>
        </form>
    </div>