<div th:replace="/header"></div>
<!--<p th:text="'Hello, ' + ${name} + '!'" xmlns:th="http://www.w3.org/1999/xhtml"/>-->

    <div class="page-container">
        <h2>Рады снова Вас видеть!</h2>
        <div class="card block-styling">

            <p>Карта клиента</p>

            <div style="width: 100%; text-align: center;">
                <input type="text" id="client-account-1" name="client-account-1" placeholder="4276" maxlength="4"/>
                <input type="text" id="client-account-2" name="client-account-2" placeholder="3801" maxlength="4"/>
                <input type="text" id="client-account-3" name="client-account-3" placeholder="1234" maxlength="4"/>
                <input type="text" id="client-account-4" name="client-account-4" placeholder="5678" maxlength="4" required/>
            </div>

            <div style="display: inline-block; margin-top: 5em; width: 80%;">
                <input type="text" id="client-name" name="client-name" placeholder="IVAN IVANOV" required/>
                <input type="password" id="client-keyword" name="client-keyword" placeholder="Password" required/>
            </div>

            <div style="margin-top: 4em;">
                <input type="button" class="common-button" style="float: left; margin-left: 5px;" value="Регистрация" onclick="window.open('/sign-up', '_self')"/>
                <input type="button" class="common-button" style="float: right; margin-left: 5px;" value="Оплата" />
                <input type="button" class="common-button" style="float: right; margin-right: 5px;" value="Перевод" onclick="window.open('/transaction', '_self')"/>
            </div>
        </div>
    </div>

<div th:replace="/footer"></div>
